DATABASE_URL=postgresql://idot:idot@localhost:5432/idot
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
TAIGA_ENDPOINT=http://localhost:9000
TAIGA_ACCESS_KEY=
TAIGA_SECRET_KEY=